{% verbatim %}
    <script id="lightbox-template" type="text/x-handlebars-template">
        <div class="lightbox-background">
            <div class="lightbox-wrapper">
                <div class="lightbox-image-wrapper">
                    {{#if link}}
                    <a href="{{link}}" target="_blank">
                    {{/if}}
                    <img class="lightbox-image" src="{{image.standard.image}}" />
                    {{#if link}}
                    </a>
                    {{/if}}
                </div>
                <div class="lightbox-data clearfix">
                {{#if description}}
                    <div class="description">
                        {{description}}
                    </div>
                {{/if}}
                    {{#if submitter.first_name}}
                    <div class="avatar pull-left" style="background-image: url('https://graph.facebook.com/{{submitter.username}}/picture');background-size:100%;">
                    </div>
                    {{else}}
                    <div class="avatar pull-left">
                        <img src="http://gravatar.com/avatar/{{submitter.gravatar}}.jpg">
                    </div>
                    {{/if}}
                    <div class="text pull-left">
                        <span class="dim pinned">pinned by</span>
                        <a href="/pins/user/{{submitter.username}}/">
                            {{#if submitter.first_name}}
                                {{submitter.first_name}}
                            {{else}}
                                {{submitter.username}}
                            {{/if}}
                        </a>
                    </div>
                    <div class="likes pull-right">
                        <div class="facebook-share">
                            <a href="#" 
                              onclick="
                                window.open(
                                  'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
                                  'facebook-share-dialog', 
                                  'width=626,height=436'); 
                                return false;">
                              <div class="fb-share-logo"></div>Share
                            </a>
                        </div>
                        <div class="icon-like{{#if liked}} liked{{/if}}" data-like_count="{{like_count}}" data-liked="{{liked}}" data-id="{{id}}"></div>
                        <div class="like-count">{{like_count}}</div>
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endverbatim %}
