{% verbatim %}
    <script id="lightbox-template" type="text/x-handlebars-template">
        <div class="lightbox-background">
            <div class="lightbox-wrapper">
                <div class="lightbox-image-wrapper">
                    <img class="lightbox-image" src="{{image.standard.image}}" />
                </div>
                <div class="lightbox-data clearfix">
                {{#if description}}
                    <div class="description">
                        {{description}}
                    </div>
                {{/if}}
                    {{#if submitter.first_name}}
                    <div class="avatar pull-left" style="background-image: url('https://graph.facebook.com/{{submitter.username}}/picture');background-size:100%;">
                    </div>
                    {{else}}
                    <div class="avatar pull-left">
                        <img src="http://gravatar.com/avatar/{{submitter.gravatar}}.jpg">
                    </div>
                    {{/if}}
                    <div class="text pull-left">
                        <span class="dim pinned">pinned by</span>
                        <a href="/pins/user/{{submitter.username}}/">
                            {{#if submitter.first_name}}
                                {{submitter.first_name}}
                            {{else}}
                                {{submitter.username}}
                            {{/if}}
                        </a>
                        {{#if tags}}
                            <br /><span class="dim">in</span>
                        {{#each tags}}
                            <span class="tag"><a href="/pins/tag/{{this}}/">{{this}}</a></span>
                        {{/each}}
                        {{/if}}
                    </div>
                    <div class="likes pull-right">
                        <div class="icon-like{{#if liked}} liked{{/if}}" data-like_count="{{like_count}}" data-liked="{{liked}}" data-id="{{id}}"></div>
                        <div class="like-count">{{like_count}}</div>
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endverbatim %}
