{% load static from staticfiles %}
{% load compress %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <meta property="og:site_name" content="Striplac Style of the Year">
        <meta property="og:title" content="Striplac Style of the Year">
        <meta property="og:type" content="website" />
        <meta property="og:description"
              content="Stelle Fotos von dir in deinem schönsten – ausgeflipptesten – schrägsten – buntesten – verführerischsten Outfit online. Mit Striplac, Nagellack oder auch natürlichen Nägeln."/>
        {%if pinid %}
        <script type="text/javascript">
            var promise = $.get('/api/v1/image/{{ pinid }}/?format=json');
            promise.success(function(image) {
                metaString = '<meta property="og:image" content="http://alessandro.dealini.ch'+image.thumbnail.image+'"/>';
                $('head').append( metaString );
                $('head').append( '<meta property="og:url" content="http://alessandro.dealini.ch/pin/{{pinid}}"/>' );
            });
        </script>
        {%else %}
        <meta property="og:image" content="http://alessandro.dealini.ch/static/img/show_your_style.png">
        <meta property="og:url" content="http://alessandro.dealini.ch/" />
        {% endif %}
        
        <link rel="icon" 
            type="image/x-icon" 
            href="http://www.dealini.ch/favicon.ico">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

        <!--  ___                     ___           ___                 
             /  /\      ___          /__/\         /  /\          ___   
            /  /::\    /  /\         \  \:\       /  /::\        /__/|  
           /  /:/\:\  /  /:/          \  \:\     /  /:/\:\      |  |:|  
          /  /:/~/:/ /__/::\      _____\__\:\   /  /:/~/:/      |  |:|  
         /__/:/ /:/  \__\/\:\__  /__/::::::::\ /__/:/ /:/___  __|__|:|  
         \  \:\/:/      \  \:\/\ \  \:\~~\~~\/ \  \:\/:::::/ /__/::::\  
          \  \::/        \__\::/  \  \:\  ~~~   \  \::/~~~~     ~\~~\:\ 
           \  \:\        /__/:/    \  \:\        \  \:\           \  \:\
            \  \:\       \__\/      \  \:\        \  \:\           \__\/
             \__\/                   \__\/         \__\/             -->

        <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>

        <!-- CSS -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Monoton"/>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.1.1/fineuploader.css"/>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        {% compress css %}
        <link rel="stylesheet" href="{% static "css/messages.css" %}"/>
        <link rel="stylesheet" href="{% static "css/lightbox.css" %}"/>
        <link rel="stylesheet" href="{% static "css/pinry.css" %}"/>
        <link rel="stylesheet" href="{% static "css/fonts.css" %}" type="text/css" charset="utf-8" />
        {%  endcompress %}
        {% compress css inline %}
        {% block extra_css %}{% endblock %}
        {% endcompress %}
        <!-- End CSS -->

        <!-- Start JavaScript Variables -->
        <script>
        var apiLimitPerPage = {{ API_LIMIT_PER_PAGE }},
            errors = {% if not messages %}null,{% else %}[
                {% for message in messages %}
                {
                    tags: "{{ message.tags }}",
                    text: "{{ message }}"
                },
                {% endfor %}
            ],{% endif %}
            currentUser = {
                id: "{{ user.id }}",
                username: "{{ user.username }}",
                gravatar: "{{ user.gravatar }}",
                first_name: "{{ user.first_name }}",
                last_name: "{{ user.last_name }}"
            },
            pinFilter = "{{ request.resolver_match.kwargs.pinid}}",
            tagFilter = "{{ request.resolver_match.kwargs.tag }}",
            userFilter = "{{ request.resolver_match.kwargs.user }}";
        </script>
        <!-- End JavaScript Variables -->
    </head>

    <body>
        <!-- Navigation -->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <!-- <a href="{% url 'core:recent-pins' %}" class="brand pull-left">{{ SITE_NAME }}</a> -->
                <a href="{% url 'core:recent-pins' %}" class="brand pull-left"><img src="{% static "img/logo.png" %}"></a>
                <img src="{% static "img/show_your_style.png" %}" class="brand slug pull-left">
                <!-- <p class="brand pull-left">Show Your Style</p> -->
                {% load socialaccount %}
                {% providers_media_js %}
                <ul class="nav pull-right">
                    <li><a data-lightboxid="1" id="about_bod" class="lightbox">{% trans "About" %}</a></li>
                {% if user.is_authenticated %}
                    <!-- <li>{% include "includes/bookmarklet_link.html" %}</li> -->
                    <li><a onclick="pinForm()">{% trans "New Pin" %}</a></li>
                    <li><a href="{% url 'users:logout' %}">{% trans "Logout" %}</a></li>
                {% else %}
                    <li><a href='{% provider_login_url "facebook" method="oauth2" %}' id="login_button"><div id="fb-logo"></div>{% trans "Login" %}</a></li>
                    <!-- <li><a href="{% url 'users:login' %}">{% trans "Login" %}</a></li> -->
                    <!-- <li><a href="{% url 'users:register' %}">{% trans "Register" %}</a></li> -->
                {% endif %}
                </ul>
                <!-- Sorting -->
                <div class="sorter-tabs">
                    <ul id="sorter">
                        <li class="sorter-tab active" id="sorter-likes">{% trans "Like" %}</li>
                        <li class="sorter-tab" id="sorter-date">{% trans "Date" %}</li>
                        {% if user.is_authenticated %}
                        <li class="sorter-tab" id="sorter-mine">{% trans "My Images" %}</li>
                        {% endif %}
                        
                    </ul>
                </div>
                <!-- End Sorting -->

                <!-- Language Selector -->
                <!-- <ul class="nav pull-right language">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Language" %}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        {% for lang in LANGUAGES %}
                            <li>
                                    <form name="setLang{{ lang.1}}" action="/i18n/setlang/" method="POST">{% csrf_token %}
                                        <input name="next" type="hidden" value="/" />
                                        <input type="hidden" name="language" value="{{ lang.0 }}" />
                                        <a href="#" onclick="document.setLang{{ lang.1 }}.submit();return false;">{{ lang.1 }}</a>
                                    </form>
                                </li>
                            {% endfor %}    
                        </ul>
                    </li>
                </ul> -->
                <!-- End Language Selector -->
            </div>
        </div>
        <!-- End Navigation -->

        <!-- Messages -->
        <ul id="messages"></ul>
        <!-- End Messages -->

        <!-- No Script -->
        <div id="noscript">
            <noscript>Scripting is not enabled in your browser, if you are using
                a plugin like NoScript *high five*! Our code is open source and
                you can view it on
                <a href="https://github.com/pinry/pinry/">GitHub</a>.
                <style>.spinner{display:none;}</style></noscript>
        </div>
        <!-- End No Script -->

        <!-- Content -->
        {% block yield %}{% endblock %}
        <!-- End Content -->

        <!-- Templates -->
        {% include "includes/messages.html" %}
        {% include "includes/lightbox.html" %}
        {% include "includes/pins.html" %}
        {% include "includes/brandpartner.html" %}
        {% include "includes/lightbox_container.html" %}
        {% include "includes/pin_form.html" %}
        {% block extra_templates %}{% endblock %}
        <!-- End Templates -->

        <!-- Banners Bottom -->
        <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner bottom">
                <ul class="nav pull-left" id="brandpartners">
                </ul>
                <ul class="nav pull-right" id="competition_conditions">
                    <a data-lightboxid="1000" data-width="800" id="competition_prizes-link" class="lightbox" style:" color:#444;">{% trans "Prizes" %}</a> |
                    <a data-lightboxid="2" id="competition_conditions-link" class="lightbox" style:" color:#444;">{% trans "Competition Conditions" %}
                    <a data-lightboxid="1001" data-width="800" id="competition_welcome-link" class="lightbox" style="display:none;">{% trans "Welcome" %}</a>
                    </a>
                </ul>
            </div>
        </div>
        <!-- End Banners Bottom -->

        <!-- JavaScript -->
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.3/handlebars.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.1.1/jquery.fineuploader.min.js"></script>
        <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
        {% compress js %}
        <script src="{% static "js/helpers.js" %}"></script>
        <script src="{% static "js/messages.js" %}"></script>
        <script src="{% static "js/lightbox.js" %}"></script>
        <script src="{% static "js/pinry.js" %}"></script>
        <script src="{% static "js/pin-form.js" %}"></script>
        {% if prize_view and not user.is_authenticated %}
        <script>
            $(document).ready(function() {
                var readyStateCheckInterval = setInterval(function() {
                    if ($._data(document.getElementById('competition_welcome-link'), "events")) {
                        $('#competition_welcome-link').trigger('click');
                        clearInterval(readyStateCheckInterval);
                    }
                }, 20);
            });
        </script>
        {% endif %}
        {% endcompress %}
        {% compress js inline %}
        {% block extra_js %}{% endblock %}
        {% endcompress %}
        <!-- End JavaScript -->
    </body>
</html>
