{% load static from staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% trans "BodyTitle" %}</title>
        <link rel="stylesheet" href="{% static "css/lightbox.css" %}"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        
    </head>
    <body>
        <!-- Current Language: <br>{% get_language_info for LANGUAGE_CODE as lang %}{{ lang.name_local }}<br>
        Language Code: <br>{{ LANGUAGE_CODE }}<br>

        
        Available Languages: <br>{% get_available_languages as LANGUAGES %}{{ LANGUAGES }} -->
        <h1>{% trans "Heading" %}</h1>
        {{ flatpage.content }}
        {% trans "Hello" %}
        {% trans "Blubberli" %}
        <script src="{% static "js/lightbox.js" %}"></script>
        <script>
        $(window).load(function() {
            createBox('<div class="lightbox-background"><div class="lightbox-wrapper">asdf</div></div>');
        });
        </script>
        
    </body>
</html>