/* Start Globals */
body {
    background: #fff;
    margin-top: 94px;
}

a {
    cursor: pointer;
    color: #cd1460;
}

a:hover, a:focus {
    color: #cd1460;
}

#noscript {
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto;
    width: 500px;
    text-align: center;
}
/* End Globals */


/* Start Navigation */
.navbar-fixed-top .navbar-inner {
    background: #000;
    background-image: none;
    /*border-bottom: 1px solid #bbb;*/
    /*filter: none;*/
    height: 48px;
    border-width: 0 0 0px;
    font-family:'Conv_Lavanderia Sturdy',Sans-Serif;
    letter-spacing: 2px;
}
.navbar-fixed-top .navbar-inner > a > img {
    margin-left: 10px;
}
.icon-like {
    background-position: 0px 0px;
    background-size:100% 100%;
    height: 11px;
    width: 11px;
    background-image: url("../img/empty_heart.png");
    float: right;
}
.icon-like:hover {
    cursor: pointer;
}

.like-count {
    color: #9c9999;
    float: right;
    margin-right: 3px;
    margin-top: -3px;
    font-size: 12px;
    font-weight: bolder;
}
.icon-like.liked {
    background-image: url("../img/heart.png");
}

/*.navbar-fixed-top .navbar-inner {
    border-width: 0px 0 0;
}*/
.navbar-inner {
    min-height: 74px;
    text-shadow:-1px -1px 1px #000000;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    -webkit-box-shadow: 0px 4px 12px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 12px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 12px 3px rgba(0,0,0,0.5);
}

.navbar-inner.bottom {
    min-height: 0px;
    background: #000;
    border-width: 0px 0px 0px 0px;
    /*border-color: #cd1460;*/
    -webkit-box-shadow: 0px -4px 12px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -4px 12px 3px rgba(0,0,0,0.5);
    box-shadow: 0px -4px 12px 3px rgba(0,0,0,0.5);
}

.navbar .brand {
    color: #fff;
    font-family: 'Monoton', sans-serif;
    font-size: 30px;
    margin: 0px 0px 0px 0px;
}

.navbar .brand.slug {
    margin-left: -25px;
    margin-right: -1000px;
}

.navbar .nav > li > a {
    background: #cd1460;;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    color: #fff;
    margin: 12px 7px;
    padding: 4px 13px 4px 13px;
    text-shadow: -1px -1px 1px #000000;
}
.navbar .nav.pull-right > li > a {
    margin: 26px 16px 7px 0px;
}
.navbar .nav.pull-right {
    z-index: 1000;
}

.navbar .nav > li:last-child > a {
    margin-right: 14px;
}

.navbar .nav > li > a:hover {
    background: #fff;
    color: #cd1460;
    text-shadow: none;
}

.nav.pull-right.language {
    margin-top: -25px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav.pull-right.language > li > a {
    margin: 0px 14px;
    padding: 0px 13px;
}


#bookmarklet {
    cursor: move;
}

.sorter-tab {
    background: #cd1460;
    color: #333;
    margin: 0px 7px;
    padding: 0px 13px;
    float: left;
    cursor: pointer;
}
.sorter-tab:hover {
    background: #fff;
    color: #cd1460;
    text-shadow: none;
}

.sorter-tabs {
    float:left;
    width:100%;
    /*overflow:hidden;*/
    height: 37px;
    background:transparent;
    margin-top: -33px;
}
.sorter-tabs ul {
   clear:left;
   float:left;
   list-style:none;
   position:relative;
   left:50%;
   text-align:center;
}
.sorter-tabs ul li {
   display:block;
   float:left;
   list-style:none;
   padding: 9px 17px 8px 17px;
   font-size: 21px;
   position:relative;
   right:50%;
   display:block;
   margin:0 0 0 0px;
   background:#cd1460;
   color:#fff;
   text-decoration:none;
   border-radius: 0px 0px 0px 0px;
}
.sorter-tabs ul > :first-child {
    border-radius: 2px 0px 0px 0px;
}
.sorter-tabs ul > :last-child {
    border-radius: 0px 2px 0px 0px;
}
.sorter-tabs ul li.active,
.sorter-tabs ul li.active:hover {
   color:#000;
   background:#fff;
   font-weight:bold;
   text-shadow: none;
   height: 22px;
   -webkit-box-shadow: 0px 5px 12px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 12px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 12px 3px rgba(0,0,0,0.75);
    border-radius: 0px 0px 2px 2px;
}
#sorter {
    height: 37px;
}
/* End Navigation */


/* Start Forms */
#form {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
}

#form h1 {
    font-family: 'Monoton';
    font-weight: normal;
    margin-bottom: 15px;
    text-align: center;
}

form {
    margin-bottom: 0;
}

textarea {
    height: 70px;
}

.form-actions {
    margin-bottom: 0;
}

.qq-upload-button {
    background: #eee;
    border: 3px dashed #888;
    -webit-border-radius: 3px;
      -moz-border-radius: 3px;
           border-radius: 3px;
    color: black;
    width: 214px;
}

.qq-upload-drop-area {
    background: #A3507E;
    border: 3px dashed #aaa;
    -webit-border-radius: 3px;
      -moz-border-radius: 3px;
           border-radius: 3px;
    color: #ccc;
}

.qq-upload-success {
    -webit-border-radius: 3px;
      -moz-border-radius: 3px;
           border-radius: 3px;
}

.qq-upload-list li {
    background-color: #eee;
    -webit-border-radius: 3px;
      -moz-border-radius: 3px;
           border-radius: 3px;
}

.qq-upload-spinner {
    display: none;
}

.modal-body {
    overflow: hidden;
}
/* End Forms */


/* Start Pins */
#pins {
    top: 70px;
}

.pin {
    background: #fff;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #bbb;
       -moz-box-shadow: 0 1px 0 #bbb;
            box-shadow: 0 1px 0 #bbb;
    display: none;
    position: absolute;
    width: 240px;
}

.pin .editable {
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    position: absolute;
    right: 7px;
    top: 7px;
}

.pin:hover .editable {
    display: block;
}

.pin .editable .borderable {
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    cursor: pointer;
    padding: 5px 8px;
    display: inline-block;
}

.pin .image-wrapper {
    background-image: url("../img/loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
}

.pin img {
    -webkit-border-top-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topright: 3px;
            border-top-right-radius: 3px;
    cursor: -webkit-zoom-in;
    cursor:    -moz-zoom-in;
    display: none;
    margin: 0;
    padding: 0;
    width: 240px;
}

.pin p {
    border-bottom: 1px solid #bbb;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 12px;
    margin-bottom: 0;
    padding: 8px;
}

.pin strong {
    color: #777;
    font-weight: normal;
}

.pin-footer {
    color: #777;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

.pin-footer .dim {
    color: #999;
    font-weight: normal;
}

.pin-footer .avatar {
    background: white;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    height: 30px;
    width: 30px;
}

.pin-footer .avatar img {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    cursor: default;
}

.pin-footer .text {
    line-height: 16px;
    margin-top: -1px;
    width: 180px;
}

.spinner {
    background: url('../img/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    height: 31px;
    margin: 0 auto;
    padding: 50px;
    width: 31px;
}

#the-end {
    visibility: hidden;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
}
/* End Pins */
